<footer style="margin-top: auto;">
    <div class="f-info sticky-bottom ">

        <div class="f-info-social">
            <a style="color: black;" target="_blank" href="https://www.quora.com/profile/Anshu-Yadav-510"><i class="fa-brands fa-quora"></i></a>
            <a style="color: black;" target="_blank" href="https://www.instagram.com/aanshuyadavv/"><i class="fa-brands fa-square-instagram"></i></a>
            <a style="color: black" target="_blank" href="https://www.linkedin.com/in/anshu-yadav-9422a01b2/"><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>

        <div class="f-info-link">
            <a href="/listings">Privacy</a>
            <a href="/listings">Terms</a>
        </div>

    </div>
</footer>